<%- include("includes/head.ejs") %>
<body>
    <h1>This is a home page</h1>
    <h3>2 * 3</h3>
    <h3><%= 2 * 3 %> </h3>
    <h3><%= "apnaCollege".toUpperCase() %> </h3>
    <h3><%= ["hello", "bonjour", "namaste"][2] %></h3>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugiat sunt quidem vitae voluptate quaerat ratione, necessitatibus odio eveniet nobis. Eligendi vero a aperiam repudiandae labore natus sapiente eos perspiciatis fuga.
    Tempore quaerat nobis labore corporis tempora, aperiam facere error assumenda a sunt laboriosam odio deleniti eveniet ullam dolor vero tenetur, quidem sit porro similique voluptate accusamus maxime distinctio cumque. Minima!
    Corrupti necessitatibus dicta esse cupiditate reprehenderit, neque nulla quisquam sit, eius fugit omnis enim totam possimus quidem aut suscipit eligendi? Saepe, eius. Commodi ipsam beatae iusto quae debitis rem dignissimos?
    Sit aliquid sapiente earum cumque repellendus harum voluptatem ipsam facere repellat modi blanditiis, similique aperiam, possimus eaque. Debitis soluta, laboriosam saepe veritatis accusamus veniam voluptates, assumenda ipsum fuga et adipisci.
    Labore cumque voluptas ipsum quam porro provident ut sed vel. Mollitia, obcaecati dolore. Odit cupiditate consequuntur iusto dolorum, quo, vitae explicabo sit, voluptates aut dolores nisi corrupti ea et molestiae!
    Ipsum ipsa possimus omnis! Itaque amet veritatis, est unde labore esse adipisci saepe placeat quia exercitationem assumenda voluptatibus laudantium a cumque optio repudiandae sunt inventore commodi porro! Quaerat, quos id!
    Culpa aliquid officiis natus facilis animi quia similique error labore delectus, maxime voluptates velit tempora nemo molestiae ratione ex recusandae fugit dicta cumque at provident deserunt quaerat architecto quibusdam! Quibusdam.
    Numquam minus sed ab, iure in eum molestias consequuntur mollitia modi placeat nemo vero quas veniam impedit facilis quis voluptatum amet consectetur perspiciatis culpa necessitatibus, est ducimus veritatis? Rem, fugiat.
    Qui dolore eligendi ab nemo officiis maxime doloremque aut amet, voluptatum repellendus? Inventore in molestiae dolore dolorem quod est quo. Commodi sapiente dicta cupiditate id necessitatibus suscipit harum culpa exercitationem!
    Ipsam placeat atque nisi cumque quaerat sequi? Quasi debitis laboriosam enim libero, illo ducimus, natus placeat repellat iste, laudantium ut? Asperiores quidem nulla reprehenderit rerum obcaecati, voluptatem eius sapiente nisi?</p>
    <button>click me!</button>
</body>
</html>