<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Document</title>
</head>
<body>
    <h3>Here is your post in Details</h3>
    <p>Post id : <%= post.id %></p>
    <div class="post">
        <h3 class="username">@<%= post.username %></h3>
        <h3 class="content"><%= post.content %></h3>
    </div>
    <a href="/post">Back To Home</a>
</body>
</html>